@page "/Task/view/{Id}"
@model Ramsoft.Pages.Task.DetailsModel
@{

   
}

<h1>Details</h1>
<div class="row justify-content-center m-1">
    <div class="col-sm-8">
        <div class="card">
            <div class="class-header"></div>
            <h1>@Model.TaskDetails.TaskName</h1>
        </div>
        <div class="card-body text-center ">
            <h4>TaskDescription:- @Model.TaskDetails.Description</h4>
            <h4>State:- @Model.TaskDetails.State</h4>
            <h4>State:- @Model.TaskDetails.IsFavourite</h4>
            <h4>DeadLine:- @Model.TaskDetails.Deadline</h4>
            <h4></h4>
        </div>
        <div class="card-footer text-center">
            <a asp-page="index" class="btn btn-primary"> Back</a>
            <a asp-page="/Task/Edit" asp-route-Id="@Model.TaskDetails.TaskId" class="btn btn-primary m-1">Edit</a>
            <a asp-page="/Task/Delete" asp-route-Id="@Model.TaskDetails.TaskId" class="btn btn-primary m-1">Delete</a>
        </div>
    </div>

</div>