@page
@model Ramsoft.Pages.Task.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>All Task</h1>

@*<h2>@Model.Tasks.Count()</h2>*@

<div class=""> 
    @foreach(var task in Model.Tasks)
    {
        <div>
            <div class="text-xl-start ">Task Name:- @task.TaskName</div>

            <div class="text-xl-start">State:- @task.State</div>
        </div>
        <div>
            <a asp-page="/Task/Details" asp-route-Id="@task.TaskId" class="btn btn-primary m-1">View</a>
            <a asp-page="/Task/Edit" asp-route-Id="@task.TaskId" class="btn btn-primary m-1">Edit</a>
            <a asp-page="/Task/Delete" asp-route-Id="@task.TaskId" class="btn btn-primary m-1">Delete</a>
        </div>
    }
    <a asp-page="/Task/Edit" class="btn btn-primary m-1">Add</a>

</div>